@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.portfolio-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: rgb(247, 247, 247);
}

.awaiting-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75rem;
}

/* Masquer la scrollbar tout en gardant le scroll */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
